{% extends 'base.html' %}

{% block content %}

    <div class="section_right">
        <div class="chat">
            <h2 class="message"><img src="../static/images/circle.png" alt="search" align="bottom" width="21" height="21">общий чат</h2>
        </div>
        <div>
            <div align="right">
                <div class="container">
                    <p>Hello. How are you today?</p>
                </div>
            </div>
            <div>
                <div class="container_lft">
                    <p>I'm fine</p>
                </div>
            </div>
        </div>
        <div id="chat">
            <h2 class="message"><button><img src="../static/images/add.png" alt="search" align="bottom" width="21" height="21"></button>text</h2>
        </div>
    </div>
{% endblock %}