{% extends 'base.html' %}

{% block content %}

    <div class="section_right">
        <h2 class="menu-item"><img src="../static/images/search.png" alt="search" align="left" width="31" height="31">search people</h2>
        <div id="employees">
            <span class="department" style="font-size: 25px;">отдел 1</span><br>
            <span class="department" style="font-size: 25px;">направление 1</span>
            <ul>
                <li class="left">
                        <div class="content"><button style="cursor: pointer; position: absolute;"><img src="../static/images/add.png" alt=""></button></div>
                        <p class="txt">add employee</p>
                </li>
        </ul>
        </div>
        <div id="employees2">
            <span class="department2" style="font-size: 25px;">отдел 2</span><br>
            <span class="department2" style="font-size: 25px;">направление 2</span>
            <ul>
                <li class="left">
                        <div class="content2"><button style="cursor: pointer; position: absolute;"><img src="../static/images/add.png" alt=""></button></div>
                        <p class="txt">add employee</p>
                </li>
        </ul>
        </div>
            </div>
            <a href="add_department.html">
                <button style="font-size: 1.2em;" class="add-employees-button">
                    <img src="../static/images/add.png" alt="search">
                </button>
            </a>
        </div>
    </div>
{% endblock %}