{% extends 'base.html' %}

{% block content %}

    <section>
        <h2 class="menu-item"><img src="../static/images/search.png" alt="search" align="left" width="31" height="31">search people</h2>
        <div id="employees">
            <h2 class="department">отдел 1</h2>
            <h2 class="department">направление 1</h2>
            <ul>
                <li class="left">
                        <div class="content"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                        <p class="txt">you</p>
                </li>
                <li class="left">
                    <div class="content"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                    <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                    <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                    <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                        <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                        <p class="txt">you</p>
                 </li>
                <li class="right">
                    <div class="content"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                        <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                    <p class="txt">you</p>
                </li>
        </ul>
        </div>
        <div id="employees2">
            <h2 class="department2">отдел 2</h2>
            <h2 class="department2">направление 2</h2>
            <ul>
                <li class="left">
                        <div class="content2"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                        <p class="txt">you</p>
                </li>
                <li class="left">
                    <div class="content2"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                    <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content2"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                    <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content2"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                    <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content2"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                        <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content2"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                        <p class="txt">you</p>
                 </li>
                <li class="right">
                    <div class="content2"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                        <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content2"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                    <p class="txt">you</p>
                </li>
        </ul>
        </div>
    </section>