<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Rubik&family=Sen&display=swap');
  </style>
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Manager Tasks</title>
</head>
<body>
  <header>
    <div class="menu">
      <div class="head">
        <span class="icon">
          М
        </span>
        <span class="headtext">
          Manager Task
        </span>
      </div>
      <div class="menu-items">
        <div class="menu-item">
          <img src="../static/images/tasks_img.png" alt="tasks">
          <span><a href={{url_for('index')}}>Задачи<a/></span>
        </div>
        <div class="menu-item">
          <img src="../static/images/chat_img.png" alt="chat">
          <span><a href={{url_for('chat_index')}}>Чат</a></span>
        </div>
        <div class="menu-item">
          <img src="../static/images/employees_img.png" alt="employees">
          <span>Сотрудники</span>
        </div>
        <div class="menu-item">
          <img src="../static/images/calendar_img.png" alt="calendar">
          <span>Календарь</span>
        </div>
        <div class="menu-item">
          <img src="../static/images/first_second_name_img.png" alt="first_second_name">
          <span>фамилия имя</span>
        </div>
      </div>
    </div>
  </header>
  <section>
    <h2 class="menu-item"><img src="../static/images/search.png" alt="search" align="left" width="31" height="31">search chat</h2>
    <table class="text">
      <tr>
        <td align="center"><img src="../static/images/circle.png" alt="circle"></td>
        <td align="center">и.м фамилия</td>
        <td align="center"> текст текст текст текст текст текст текст текст</td>
        <td align="center">31 марта</td>
      </tr>
      <tr>
        <td align="center"><img src="../static/images/circle.png" alt="circle"></td>
        <td align="center">и.м фамилия</td>
        <td align="center"> текст текст текст текст текст текст текст текст</td>
        <td align="center">31 марта</td>
      </tr>
     </table>
     <div id="task">
      <h2 class="message"><button><img src="../static/images/add.png" alt="search" align="bottom" width="21" height="21">add task</button></h2>
  </div>
  </section>
</body>
</html>