{% extends 'base.html' %}

{% block content %}

  <section>
    <h2 class="menu-item"><img src="../static/images/search.png" alt="search" align="left" width="31" height="31">search chat</h2>
    <table class="text">
      <tr>
        <td align="center"><img src="../static/images/circle.png" alt="circle"></td>
        <td align="center">и.м фамилия</td>
        <td align="center"> текст текст текст текст текст текст текст текст</td>
        <td align="center">31 марта</td>
      </tr>
      <tr>
        <td align="center"><img src="../static/images/circle.png" alt="circle"></td>
        <td align="center">и.м фамилия</td>
        <td align="center"> текст текст текст текст текст текст текст текст</td>
        <td align="center">31 марта</td>
      </tr>
     </table>
  </section>
{% endblock %}