<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Rubik&family=Sen&display=swap');
  </style>
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Manager Tasks</title>
</head>
<body>
    <section class="autoriz_section">
        <div class="autorization_form">
            <form action="">
                <h2 class="autoriz_headtext">Авторизация</h2>
                <div class="autoriz_login" style="display:block; margin-top: 2em;">
                    <span>Введите логин:</span>
                </div>
                <div class="autoriz_password" style="display:block; margin-top: 2em;">
                    <span>Введите пароль:</span>
                </div>
            </form>
        </div>
    </section>
</body>
</html>